/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  /* Hide scrollbar but maintain scroll functionality */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* WebKit browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

/* Force dropdown option styles globally */
select option {
  background: white !important;
  color: #333 !important;
}

.filter-select option {
  background: white !important;
  color: #333 !important;
}
